{% extends('base.html.twig') %}
{% block body %}
    <div class="container">
        <form action="{{ path('posts.updating')}}"  method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ post.id }}">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Post Title</button>
                </span>
                <input type="text" class="form-control" name="title" value="{{ post.title }}">
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Post Content</button>
                </span>
                <input type="text" class="form-control" name="post_content" value="{{ post.content }}">
            </div>
            <div class="input-group">
                <select class="custom-select" name="category_id">

                    {% for category in categories %}
                        <option {% if category_id == category.id %} selected {% endif %}
                                value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <label class="custom-file">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
                <div class="col-md-4">
                    <img src="/uploads/posts/{{ post.file }}" alt="{{ post.title }}">
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Edit">
        </form>
    </div>
{% endblock %}