{% extends('base.html.twig') %}
{% block body %}
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-12 col-md-9">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-6 col-lg-4">
                            <img src="uploads/posts/{{ post.file }}" width="90%" alt="image">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                            <p><a class="btn btn-secondary" href="{{ path('post.show',{'post':post.id })}}" role="button">View details &raquo;</a></p>
                        </div><!--/span-->
                    {% endfor %}
                </div><!--/row-->
            </div><!--/span-->

            <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a class="list-group-item" href="{{ path('posts') }}">All Categories</a>
                    {% for category in categories %}
                        <a href="{{ path('category.show',{'category':category.name}) }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}