{% extends('base.html.twig') %}
{% block body %}
    <div class="container">
        <a class="btn btn-warning" href="{{ path('posts.edit',{post:post.id}) }}">Редактировать</a>
        <a class="btn btn-danger" href="{{ path('posts.delete',{post:post.id}) }}">Удалить</a>
    </div>
    <div class="container">
        <div class="card">
            <img class="card-img-top" src="/uploads/posts/{{ post.file }}" alt="{{ post.title }}">
            <div class="card-block">
                <h2>{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Put Your comment here =)</h2>
        <form action="">

            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Author</button>
                </span>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <input type="hidden" name="post" id="post" value="{{ post.id }}">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Comment Content</button>
                </span>
                <input type="text" class="form-control" id="content" name="comment_content">
            </div>
            <input type="submit" class="btn btn-success" value="Put!">
        </form>

        <h2>Comments</h2>
        <div class="container">
            {% for comment in comments %}
                <div id="{{ comment.id }}">
                    <hr>
                    <h3>
                        {{ comment.author }}
                    </h3>
                    <p>
                        {{ comment.content }}
                    </p>
                    <input type="button" onclick="deleteComment({{ comment.id }})" class="btn btn-danger"
                           value="Удалить">
                </div>


            {% endfor %}
            <div id="comments">

            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/comments.js') }}"></script>
{% endblock %}